// Core variables and mixins
// [Begin] NEVER REMOVE OR CLOWNS WILL EAT YOU
@import "hive_thm_custom/Resources/Private/Assets/Scss/Import/index";
// [End] NEVER REMOVE OR CLOWNS WILL EAT YOU

body body .hamburger ul.dropdown-menu {
  position: relative;
  min-width: 100%;
  padding: 5px 0;
  margin: 0;
  top: 0;
  background: $gray-700;
  border: none;
  box-shadow: none;
}

body .hamburger ul.dropdown-menu p {
  margin: 0;
}
body .hamburger ul.dropdown-menu,
body .hamburger ul.dropdown-menu ul {
  padding: 0;
}
body .hamburger ul.dropdown-menu li {
  list-style: none;
  float: left;
  width: 100%;
}

body .hamburger ul.dropdown-menu .lvl2-toggle {
  position: absolute;
  width: 42px;
  height: 40px;
  top: 0;
  right: 0;
  display: inline-block;
  cursor: pointer;
  border-left: 1px solid $gray-500;
}
body .hamburger ul.dropdown-menu .glyphicon {
  vertical-align: middle;
  line-height: 45px;
  margin-top: 0;
  height: 45px;
  width: 60px;
  color: #fff;
  text-align: center;
  position: absolute;
  padding-top: 0;
}
body .hamburger ul.dropdown-menu li.active.current > .lvl2-toggle {
  border-left: 1px solid $gray-700;
}
body .hamburger ul.dropdown-menu .glyphicon-chevron-down:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}
body .hamburger ul.dropdown-menu .glyphicon-chevron-up:before,
body .hamburger ul.dropdown-menu li.show > .glyphicon-chevron-down:before {
  border-top: 0;
  border-bottom: .3em solid;
}
body .hamburger ul.dropdown-menu .active a:hover, body .hamburger ul.dropdown-menu .active a:focus {
  background-color: $gray-700;
}
body .hamburger ul.dropdown-menu li a:hover, body .hamburger ul.dropdown-menu li a:focus {
  background-color: $gray-900;
}

body .hamburger ul.dropdown-menu {
  width: 100%;
  min-width: 100%;
}

body .hamburger ul.dropdown-menu.show {
  background-color: $gray-900;
  border: none;
}
body .hamburger ul.dropdown-menu,
body .hamburger ul.dropdown-menu.v2.show {
  margin-top: 0;
  border-radius: 0;
}

body .hamburger ul.dropdown-menu li a {
  //border-left: solid transparent 5px;
  padding: 10px 20px;
  color: #fff;
  background-color: transparent;
  display: block;
  border-top: 1px solid $gray-500;
  text-transform: uppercase;
  &:hover {
    background-color: $gray-700;
    text-decoration: none;
  }
}
body .hamburger ul.dropdown-menu li.active a {
  background-color: $gray-800;
}
body .hamburger ul.dropdown-menu li li > a {
  padding-left: 40px;
  border-top: 1px solid $gray-500;
}
body .hamburger ul.dropdown-menu li.active li.active a {
  background-color: $gray-700;
}
body .hamburger ul.dropdown-menu li li li > a {
  padding-left: 60px;
  border-top: 1px solid $gray-500;
}
body .hamburger ul.dropdown-menu li.active li.active li.active a {
  background-color: $gray-600;
}
body .hamburger ul.dropdown-menu li li li li > a {
  padding-left: 80px;
  border-top: 1px solid $gray-500;
}
body .hamburger ul.dropdown-menu li.active li.active li.active li.active a {
  background-color: $gray-500;
}
body .hamburger ul.dropdown-menu li li li li li > a {
  padding-left: 100px;
  border-top: 1px solid $gray-500;
}

body .hamburger .dropdown.show .dropdown-menu.v2 a:hover,
body .hamburger .dropdown.show .dropdown-menu.v2 a:focus {
  background-color: $gray-700;
  border-color: $gray-500;
}
body .hamburger li.active.current > a,
body .hamburger .dropdown.show .dropdown-menu.v2 li.active.current > a {
  overflow: hidden;
  position: relative;
}
body .hamburger li.active.current > a:before,
body .hamburger .dropdown.show .dropdown-menu.v2 li.active.current > a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: theme-color("primary");
}
//body .hamburger li.active.current > a:after,
//body .hamburger .dropdown.show .dropdown-menu.v2 li.active.current > a:after {
//  content: "";
//  position: absolute;
//  left: 0;
//  bottom: 0;
//  width: 100%;
//  height: 2px;
//  background: theme-color("primary");
//}

body button#hamburger,
body button#buttonHamburger {
  border-color: transparent;
  position: relative;
  margin-right: 15px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background: transparent;
  &:after {
    display: none;
  }
}
body button#hamburger .icon-bar,
body button#buttonHamburger .icon-bar {
  display: block;
  width: 22px;
  height: 4px;
  border-radius: 1px;
  background: $gray-900;
  margin-top: 3px;
}
body button#hamburger .icon-bar:first-child,
body button#buttonHamburger .icon-bar:first-child {
  margin-top: 0;
}